#text { 
    padding-left:inherit !important;
    padding-right:inherit !important;
}

.center-text {
    text-align: center;
}

.row {
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#img {
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 480px) {
    #text {
        margin-top: 50%;
    }
    #button {
        display: block;
        margin: 0 auto;
    }
    #second {
        margin-top:5px !important;
        display: block;
        margin: 0 auto;
    }
    #img {
        max-width: 80%;
    }
}
@media screen and (min-width: 480px) and (max-width: 600px){
    #text {
        margin-top:30%;
    }
    #button {
        display: block;
        margin: 0 auto;
    }
    #second {
        margin-top:5px !important;
        display: block;
        margin: 0 auto;
    }
}


@media screen and (min-height: 700px) and(max-height: 800px) {
    #img {
        margin-top: 20%;
    }
    #text {
        margin-top: 55%;
    }
    #button {
        display: block;
        margin: 0 auto;
    }
    #second {
        margin-top:5px !important;
        display: block;
        margin: 0 auto;
    }
    
}

@media screen and (min-height:800px) and (min-width: 600px){
    #text {
        left: 5%;
    }
    
    #root{
        position: absolute;
        top: 50%;
        margin-top: -200px;
        left: 0;
        width: 100%;
    }
    .center-text {
        position: absolute;
        text-align: inherit;
        top: 25%;
        margin-top: 5px;
    }

    #slogan {
        top: 40%;
    }

    #button {
        position: absolute;
        top: 70%;
        width: 15%;

    }
    #second{
        position: absolute;
        top: 70%;
        left: 19%;
        width: 15%;
    }
    #img {
        width: 50%;
    }
}
