#type {
    text-align-last: center;
}

.DayPickerInput {
    font-size: 80% !important;
    text-align-last: center;   
    /* border-radius: 0.25rem; */
    /* border: 1px solid #F6F7F8; */
}

@media screen and (min-width: 578px) {
    .DayPickerInput {
            margin-top: 10%;
    }
}
