.badge-text-size {
    font-size: 1.2rem;
}

.card {
    margin-bottom: 1rem;
}

#addPaper, #shareCar, #renewPaper, #downloadDetails {
    margin-right: 1%;
    margin-bottom: 0 !important;
}

#numberPlate {
    margin-right: 1%;
}

#filter {
    width: 25%;
    margin-right: 1%;
}

.badge {
    line-height: initial;
}

@media screen and (max-width: 420px) {
    .badge-success {
        font-size: 70% !important;
    }
}